.main {
    border:solid;
    max-width:600px;
    margin:0 auto;
    position:static;
}

.compare {
    border:solid;
    max-width:600px;
    margin:0 auto;
    padding:50px;
    border-width:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}