.container {
    border:solid blue;
    max-width:600px;
    margin:auto;
}

img {
    float: left;
    margin: 1em 1em 0 1em;
    border:solid red;
}

section {
    border:solid yellow;
}

body {
    font-family:monospace;
}